<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TEA" value="127"/>
    <add key="POP" value="56"/>
    <add key="ALE" value="201"/>
    <add key="GIN" value="96"/>
    <add key="JOE" value="101"/>
    <!--<add key="MaxLogFileSize" value="10"/>-->
  <add key="MaxLogFileSize" value="100000"/>
  </appSettings>
</configuration>